.calculator {
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    max-inline-size: 30rem;
    overflow: hidden;
    color: hsl(202, 11%, 29%);
  }
  .calculator__output {
    background: hsl(255, 100%, 100%);
    font-size: 4.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-block-start: 3rem;
    padding-block-end: 0.5rem;
    padding-inline-end: 1.25rem;
    text-align: end;
    width: 95%;
    text-decoration: none;
  }
  .calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background: hsl(255, 100%, 100%);
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .calculator__key {
    background: hsl(210, 25%, 95%);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
    inline-size: 60px;
    block-size: 60px;
    margin: 0.25rem;
    border-radius: 40px;
    text-align: center;
  }
  .calculator__key:active,
  .calculator__key:focus {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
  }
  .calculator__key--operator {
    background: hsl(208, 25%, 86%);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
    inline-size: 60px;
    block-size: 60px;
    margin: 0.25rem;
    border-radius: 40px;
    text-align: center;
  }
  .calculator__key--operator:active {
    background: hsl(208, 24%, 80%);
  }
  .calculator__key--enter {
    grid-column: 4 / 5;
    grid-row: 2 / span 4;
    background: hsl(357, 100%, 72%);
    height: auto;
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
    inline-size: 100px;
    margin: 0.25rem;
    border-radius: 40px;
  }

  #clear {
    background: hsl(208, 25%, 86%);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
    inline-size: 60px;
    block-size: 60px;
    margin: 0.25rem;
    border-radius: 40px;
    text-align: center;
  }

.hiss {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 10rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
.inv-hiss {
  width: 90%;
  height: 80%;
  color: hsl(202, 11%, 29%);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-inline-start: auto;
  margin-inline-end: auto;
  text-align: center;
}