<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>helo</title>
</head>
<body>
    <div class="calculator">
        <div class="calculator__output" id="text">0</div>
        <div class="calculator__keys">
          <button class="calculator__key--operator" id="plus">+</button>
          <button class="calculator__key--operator" id="minus">-</button>
          <button class="calculator__key--operator" id="multi">*</button>
          <button class="calculator__key--operator" id="odd">÷</button>
          <button class="calculator__key">7</button>
          <button class="calculator__key">8</button>
          <button class="calculator__key">9</button>
          <button class="calculator__key">4</button>
          <button class="calculator__key">5</button>
          <button class="calculator__key">6</button>
          <button class="calculator__key">1</button>
          <button class="calculator__key">2</button>
          <button class="calculator__key">3</button>
          <button class="calculator__key">0</button>
          <button class="calculator__key">.</button>
          <button id="clear">AC</button>
          <button class="calculator__key--enter" id="equal">=</button>
        </div>
      </div>
      <script src="../static/js/app.js"></script>
</body>
</html>